.main {
  text-align: center;
  border: 1px solid none;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  margin-left: auto;
  margin-right: auto;

  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;

  background: hsla(120, 100%, 100%, 1);

  background: linear-gradient(
    90deg,
    hsla(120, 100%, 100%, 1) 0%,
    hsla(186, 94%, 45%, 1) 100%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(120, 100%, 100%, 1) 0%,
    hsla(186, 94%, 45%, 1) 100%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(120, 100%, 100%, 1) 0%,
    hsla(186, 94%, 45%, 1) 100%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#FDFFFD", endColorstr="#07C7DC", GradientType=1 );
}
.verify-button {
  margin-top: 20px;
}
